html, body{
    width:100%;
    height:100%;
    background: url(./images/background.jpg) no-repeat;
    background-size: 100% 100%;
    position:relative
}

*{
    color : white;
    font-family: 'Minecraft';
}

@font-face {
    font-family: 'Minecraft';
    src: url('font/Minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
.header,
.feedback-container,
.numbers-container,
.button-container{
    width : 100%;
    text-align : center;
}

.header{
    text-align:left;
}

.shadow{
    display: none;
    position : absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.5);
}

.hidden{
    display: none;
}

.header{
    width : 100%;
    text-align: left;
}

/*============ RULE ===============*/
.rule{
    width : 25%;
    height: 150px;
    padding-top : 50px;
    text-align : center;
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size : 24px;
}

/*============ OUTCOME ===============*/
.outcome-container{
    text-align : center;
    width : 50%;
    display: inline-block;
    vertical-align : top;
}
.outcome{
    width : 240px;
    margin:auto;
    height: 240px;
    text-align : center;
    position: relative;
}
.outcome .back{
    z-index : 1;
    position: absolute;
    top:0;
    left:0;
    width : 100%;
}

.outcome .front{
    position:absolute;
    z-index: 2;
    top: 59px;
    left: 85px;
    width : 35%;
}
.outcome .front.number{
    top:0;
    left:0;
    width: 240px;
}
/*============ FEEDBACK ==============*/
.feedback-container{
    height : 150px;
    line-height : 150px;
    font-size: 75px;
}
.feedback-container img {
    width : 150px;
    vertical-align : middle;
}
.feedback-container *{
    font-family: 'Minecraft';
}

.win {
    color: #002d3b;
}

.lose{
    color : #d188bf;
}
.win,
.lose {
    display:inline-block;
}
/*============ NUMBERS ===============*/
[class*='number-']{
    box-sizing: border-box;
    margin : 5px;
    width : 10%;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

[class*='number-'] img {
    width : 100%;
}

[class*='number-'] .shadow{
    width: 144px;
    height: 144px;
    border-radius: 16px;
}

[class*='number-'].noselect .shadow{
    display: block;
}
/*============ BUTTON ================*/

.button-container{
    margin-top: 35px;
}
.button-play,
.button-new{
    display: block;
    margin: auto;
    position:relative;
    background: url(./images/cadre.png);
    background-size: 100% 100%;
    width: 250px;
    height: 80px;
    line-height: 92px;
    font-size : 50px;
    text-align : center;
    cursor: pointer;
}

.button-play img{
    width : 250px;
}

.button-play .text,
.button-new .text{
    display:inline-block;
    color : black;
}
.button-play .text,
.button-play .shadow{
    width: 250px;
    height: 80px;
}
.button-play .shadow{
    border-radius: 25px;
}

.button-play.novalid .shadow{
    display: block;
}

.button-new {
    margin-top: 35px;
    font-size: 35px;
}

/*============ ANIMATION ================*/
.fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1.5s;
    -moz-animation-duration:1.5s;
    animation-duration:1.5s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }